.main-header {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#p1congrats {
  text-align: center;
  text-transform: uppercase;
}

#p2congrats {
  text-align: center;
  text-transform: uppercase;
}
